version: '2'
services:
  php:
    build: .
    volumes:
      - ./:/var/www/
      
    environment:
      - "DB_HOST=mysql"
      - "DB_DATABASE=homestead"
      - "DB_USERNAME=homestead"
      - "DB_PASSWORD=homestead"
      - "REDIS_HOST=redis"
    command: sh -c "php artisan migrate && php-fpm"
  

  nginx:
    build: 
      context: ./
      dockerfile: ./dockerfile-nginx

  reverse_proxy:
    build: ./nginx
    ports:
      - 80:80
      - 443:443
  mysql:
    image: mysql:5.7
    volumes:
      - mysqldata:/var/lib/mysql
    environment:
      - "MYSQL_ROOT_PASSWORD=secret"
      - "MYSQL_DATABASE=homestead"
      - "MYSQL_USER=homestead"
      - "MYSQL_PASSWORD=homestead"

  redis:
    image: redis:4.0-alpine
    command: redis-server --appendonly yes

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - 3300:80
    environment:
      MYSQL_USER: homestead
      MYSQL_PASSWORD: homestead
      MYSQL_ROOT_PASSWORD: homestead
      PMA_HOST: mysql
      PMA_ABSOLUTE_URI: http://localhost:3300
volumes:
  mysqldata:
  pgsqldata:
