.navbar-dark .navbar-nav .nav-item {
  a.nav-link {
    color: white !important;
  }
  &.user-menu {
    a {
      color: black;
    }
  }
}

.footer-placeholder {
  height: 55px;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #800000;
}

#product-image {
  width: 60px;
  height: 60px;
}

#navbar-color {
  background-color: #000066;
}

// added css for product details

.gallery-wrap .img-big-wrap img {
  height: 458px;
  width: auto;
  display: inline-block;
  cursor: zoom-in;
  max-width: 458px;
  max-height: 458px;
}

.gallery-wrap .img-small-wrap .item-gallery {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  margin: 7px 2px;
  display: inline-block;
  overflow: hidden;
}

.gallery-wrap .img-small-wrap {
  text-align: center;
}
.gallery-wrap .img-small-wrap img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: zoom-in;
}

.rating {
  margin-bottom: 15px;
}
.checked {
  color: #ff9f1a;
}

#qty_input {
  text-align: center;
}

.container.product {
  #product-image {
    width: 40px;
    height: 40px;
  }
}

.container.shop-site {
  .product-image {
    max-width: 253px;
    max-height: 253px;
    width: 253px;
    height: 253px;
  }
}
.delete-image-container {
  position: relative;
  display: inline-block;
  .delete-image-text {
    position: absolute;
    height: 60px;
    width: 60px;
    background: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    cursor: pointer;
    visibility: hidden;
  }
  &:hover .delete-image-text {
    visibility: visible;
  }
}
.alert {
  p {
    margin: 0;
  }
}
#add-variant-list {
  li {
    div {
      &.remove-btn {
        display: inline-block;
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        right: 20px;
      }
    }
  }
}
.page-404 {
  min-height: 600px;
  background-image: url("/img/404-page.png");
  background-size: contain;
}

.shop-site {
  &.navbar-top {
    .user-navbar-btn {
      display: inline;
    }
    .user-cart {
      color: #fff;
    }
  }
}
.item-detail {
  .quantity-left {
    &.limited {
      color: rgb(221, 100, 1);
    }
  }
}
.cart {
  .card {
    padding: 10px;
    .cart-list {
      padding: 0;
      .cart-item-list {
        list-style: none;
        position: relative;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        .remove-btn {
          position: absolute;
          top: 5px;
          right: 10px;
        }
      }
    }
    .cart-inventory-image {
      height: 70px;
      width: 70px;
    }
  }
}

.checkout {
  .card {
    padding: 10px;
    .billing-address {
      padding: 10px;
    }
  }
}
