.navbar-dark .navbar-nav .nav-item {
  a.nav-link {
    color: white !important;
  }
  &.user-menu {
    a {
      color: black;
    }
  }
}

.footer-placeholder {
  height: 55px;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #800000;
}

#shopOwner-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000066;
}